.overview{
    height: 180px;
    background-color:hwb(210 87% 4%);
}
.card{
    transition: all 0.3s ease-in;
}
.card:hover{
    transform: scale(1.1);
}
.footer {
    background-color: #202020;
    color: white;
}

.footer-content h2 {
    color: #fff;
}

.footer-content h5,
.footer-content p,
.footer-links a {
    color: #fff;
}

